<section class="section" style="margin: auto;max-width: 900px;">
  <div class="container">
    <form class="panel is-info" action="/login" method="POST">
      <p class="panel-heading">
        Login
      </p>

      <section class="section" style=" margin: auto;">
        <div class="field is-horizontal px-5">
          <div class="field-label is-normal" style="flex-grow: 1.5;">
            <label class="label">E-Mail Address</label>
          </div>
          <div class="field-body">
            <div class="field">
              <input class="input" type="email" name="email" placeholder="email" autofocus>
            </div>
          </div>
        </div>

        <div class="field is-horizontal  px-5">
          <div class="field-label is-normal " style="flex-grow: 1.5;">
            <label class="label">Password</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="password" name="password" placeholder="password">
              </div>
            </div>
          </div>
        </div>

        <!-- Loginボタン -->
        <div class="field is-horizontal  px-5">
          <div class="field-label is-normal " style="flex-grow: 1.5;">
          </div>
          <div class="field-body">
            <button class="button is-info" type="submit">Login</button>
          </div>
        </div>
      </section>
    </form>
  </div>
</section>
