<section class="section" style="margin: auto;max-width: 900px;">
  <div class="container">
    <section class="panel is-info">
      <p class="panel-heading">
        Dashboard
      </p>
      <section class="section" style=" margin: auto;">
        <div class="">
          <div class="" style="flex-grow: 1.5;">
            <label class="is-size-1">You are logged in!</label>
          </div>
        </div>

      </section>
    </section>
  </div>
</section>
